@media only screen and (max-width: 768px)  {
    .form-group {
        width: 100% !important;
    }
}

td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

th {
    cursor: pointer;
}

hr {
    margin-top: 0;
}

.title {
    padding:10px;
}

ul{
    margin:0;
}
label {
    line-height: 38px;
    margin: 0;
    font-weight: bold;
}
.card {
    padding: 0px !important;
    background-color: #f8f9fa !important;
    border: none;
    border-right: 5px solid rgba(0, 0, 0, 0.125);
    margin-bottom: 1rem !important;
}

.button-group {
    padding: 0px !important
}

.form-group:last-of-type {
    margin-bottom: 0px !important;
}
a:not([href]) {
    color: white;
    text-decoration: none;
}
.btn-primary {
    border-bottom: 5px solid #0069d9;
    color: white !important;
}

.btn-secondary {
    border-bottom: 5px solid #5a6268;
    color: white !important;
}

.btn-info {
    border-bottom: 5px solid #138496;
    color: white !important;
}

.btn-warning {
    border-bottom: 5px solid #e0a800;
    color: white !important;
}

.btn-light {
    border-bottom: 5px solid #e2e6ea;
}

.btn-success {
    border-bottom: 5px solid #218838;
    color: white !important;
}

.btn-danger {
    border-bottom: 5px solid #c82333;
    color: white !important;
}

.alert {
    border: 0;
}

.alert-danger {
    border-right: 5px solid #721c24;
}

.alert-info {
    border-right: 5px solid #0c5460;
}

.alert-primary {
    border-right: 5px solid #004085;
}

.alert-secondary {
    border-right: 5px solid #383d41;
}

.alert-warning {
    border-right: 5px solid #856404;
}

.alert-light {
    border-right: 5px solid #818182;
}

.alert-success {
    border-right: 5px solid #155724;
}

.alert-

.rtl .modal-header .close, [dir="rtl"] .modal-header .close {
    margin: -15px;
}

#search-no-result , #search-found-result {
    display: none;
}

#MainContent_IsActiveRadioButtonList td {
    text-align: right !important;
    padding-left: 10px;
}

#MainContent_IsActiveRadioButtonList_1, #MainContent_IsActiveRadioButtonList_0 {
    margin: 0;
    margin-left: 10px;
    padding: 0;
}

.home-ul a {
    color: inherit !important;
}